<div class="main-content">

  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <div class="container">


        <div class="map">
          <google-map [options]="mapOptions">
            <map-marker [position]="marker.position"></map-marker>
          </google-map>
        </div>

        <div class="text">
          <h1>We are hiring!</h1>
          <hr>
          <h3>Positions Available:</h3>
          <ol>
            <li>Outlet Managers</li>
            <li>Accountant</li>
            <li>Software Developers</li>
            <li>Delivery Riders</li>
          </ol>

          <h3>Contact us for more Information</h3>
          <hr>
          <p>280 Woodlands Industrial Park E5, Singapore 757322</p>
          <p>Contact: 6234 3788</p>
          <p>Email: awesomehawker@hotmail.com</p>




        </div>
      </div>


    </div>
  </div>
</div>
